html, body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Francois One', sans-serif;
}
.nav-bar {
  margin: 0 auto;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
.comm-icon {
  height: 45px;
  width: 45px;
}
main {
  display: flex;
}
#carousel {
  display: flex;
  margin: 5vw auto;
  padding: 0;
  box-shadow: 0 20px 30px black;
  transition: all 1s;
}
.carousel-img {
  max-height: 50vh;
  max-width: 50vw;
}